<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Monitor Me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/filter.js"></script>
</head>

<body ng-app="main">
	<h1>Basic computer information</h1>
	<div ng-controller="info">

		<h2>Disk information</h2>
		<p>Total free space: {{disk.free}} bytes</p>
		<p>Total used space: {{disk.used}} bytes</p>
		<p>Total space: {{disk.total}} bytes</p>

		<hr>

		<h2>Memory information</h2>
		<p>Amount of CPU used: {{processes.cpu.used}}%</p>
		<p>Amount of idle CPU: {{processes.cpu.idle}}%</p>
		<p>Physical memory used: {{processes.memory.used}} bytes, {{processes.memory.usedPercentage}} %</p>
		<p>Physical memory available: {{processes.memory.free}} bytes, {{processes.memory.freePercentage}} %</p>
		<p>Total Physical memory: {{processes.memory.total}} bytes</p>

		<hr>
		<h2>Task List</h2>
		<table class="tasks">
		    <tr>
		      <th>Name</th>
		      <th>Memory</th>
		    </tr>
		    <tr ng-repeat="task in tasks | memoryFilter:'memory':true">
		      <td>{{task.processName}}</td>
		      <td>{{task.memory}} bytes</td>
		    </tr>
		  </table>

	</div>

</body>
</html>